body {
	padding: 20px;
	padding-bottom: 40px;
	padding-top: 85px;
}

/* bootstrap */
.container {
	width: auto;
}

ul.dropdown-menu li, ul.dropdown-menu li a {
	text-align: left;
}
.ui-widget-header  a,.ui-widget-header .btn-xs a {
	color: #fff;
}

.row {
	margin-bottom: 10px;
}

.collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.btn.btn-primary.btn-xs.dropdown-toggle {
	color: #fff;
}
.btn.btn-primary.btn-xs {
	color: #fff;
}

/* generales */
.box-align-center {
	margin: 0 auto;
	float: none;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center;
}

h1,h2,h3 {
	margin-top: 2px;
	margin-bottom: 4px;
}

h2 {
	font-size: 16px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 0.95em !important;
}

.ui-dialog-title {
	font-size: 1.1em !important;
}

.ui-widget-overlay {
	opacity: 0.3 !important;
}

/* agrega línea gris alrededor de los paneles */
.ui-panel {
	border: 1px solid #dddddd
}

.content {
	padding: 20px;
}

header {
	margin-top: -60px;
	background: #e4e4e4;
	height: 90px;
	border-bottom: 10px solid #333;
}

header img {
	margin-top: 10px;
}

/* Header */
#form_user_login,.form_user_login {
	margin-top: 10px;
}

/* Breadcrums */
ul.breadcrumb {
	font-size: 12px;
	margin-top: -10px;
}

/* formularios */
table.ui-picklist {
	width: 100%;
	border-radius: 3px 3px 3px 3px;
}
table.ui-picklist ul.ui-picklist-list, table.ui-picklist ul.ui-picklist-list table {
	width: 100%;
}
table.ui-picklist ul.ui-picklist-list table, table.ui-picklist ul.ui-picklist-list table td {
	border: none;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px dotted #d3d3d3;
}
table.ui-picklist button {
	margin: 0 auto;
	width: 30px;
}
table.ui-picklist td {
	border: 1px solid #d3d3d3;
	border-radius: 3px 3px 3px 3px;
}
table.ui-picklist td:first-child, table.ui-picklist td:last-child {
	width: 50%;
}

form input[type="text"] {
	max-width: 100%;
	border-color: 1px solid red;
}

.form-actions {
	text-align: right;
}

label {
	font-size: 12px;
	font-weight: normal;
	display: block;
	width: 100%;
	text-align: left;
	clear: right;
	color: #444;
}
label.requerido {
	color: #000;
}
/*
.form-horizontal label.control-label {
	padding-top: 0px;
}*/

fieldset legend {
	font-size: 12px;
}

.hasDatepicker, .calendario input[disabled="disabled"] {
	width: 110px;
}

.edad {
	width: 50px;
}

textarea {
	height: auto;
}

.form-horizontal .control-label {
	text-align: left;
}

.ui-selectonemenu {
	height: 29px;
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.form-control.input-sm {	
	/*height: 26px;*/
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 24px;
}

.error {
	color: red;
}

input.error,select.error,textarea.error {
	
}

label.error {
	
}

ul.alert-error {
	border-color: #ebccd1;
	background: #f2dede;
	color: #b94a48;
}

.ui-inputfield {
	height: 30px;
}
.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
}
.navbar-default { 
	background-color: #ADD1E0;
	border-color: #ADD1E0;
	padding: 4px;
	border-bottom: 2px solid #000000;
	background-image: linear-gradient(to bottom, #797979 0%, #3C3C3C 100%);
	-moz-box-shadow:    3px 0px 6px 6px #cfcfcf;
    -webkit-box-shadow: 3px 0px 6px 6px #cfcfcf;
    box-shadow:         3px 0px 6px 6px #cfcfcf;
}
.scroll-mark {
	position: absolute; 
	z-index: -1; 
	margin-top: -80px;
}

/* Paneles */
.ui-panel {
	margin-bottom: 10px;
	border: 1px solid #428bca;
	box-shadow: 5px 5px 10px 0px #cfcfcf;
}
.ui-panel-titlebar {
	background: #428bca;
	border: none;
	color: #fff;
}

.ui-panel .ui-panel {
	border: 1px solid #a1bdc3;
	background: #F9F9F9;
}

.ui-panel .row {
	border: 0px;
	margin-top: -5px;
}
.ui-panel .ui-panel-content .ui-panel .ui-panel-titlebar {
	background: #d9edf7;
	border: 1px solid #a1bdc3;
	color: #6384a1;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}

.ui-datatable-header, .ui-dialog-titlebar {
	background: #d9edf7;
	background-color: #d9edf7 !important;
	color: #506670;
	border: none;
}

.navbar-brand {
	font-size: 12px;
	padding: 0px;
	margin-left: 4px;
	margin-right: 10px;
	margin-top: 1px;
}

.panel-default legend {
	height: 30px;
}

.ui-growl {
	z-index: 2000 !important;
}


/* tabs */
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-default.ui-state-active a {
	color: #000;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-default a {
	color: #666;
}


.notification {
	display: block;
	position: absolute;
	top: -10px;
	right: -10px;
	line-height: 16px;
	height: 20px;
	padding: 0 5px;
	font-family: Arial, sans-serif;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px
		hsla(0, 100%, 100%, 0.3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px
		rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px
		hsla(0, 100%, 100%, 0.3);
}

.notification {
	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200,
		80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -o-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
}

.notification.green {
	border-color: #5AAD34;
	background-color: #78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101,
		54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -o-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
}

.notification.yellow {
	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40,
		95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
}

.notification.red {
	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11,
		95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
}
/* Notificaciones - final */

.noleido {
	font-weight:bold;
}

.brand-text:hover, .brand-text {
	font-size: 1.3em;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
	margin-left: -15px;
	text-decoration: none;
}

.ui-slider {
	background: #dddddd;
}

.panel_botones.ui-panel
{
     border: 0px;
}

.botonCampo {
	margin-bottom: 20px;
}
span.btn {
	background-color: #BBBBBB !important;
	background-image: none !important;
	color: #333333 !important;
	border-color: #BBBBBB !important;
}

#top_link_l, #top_link_r {
	font-size: 24px;
	position: fixed;
	bottom: 16px;
	z-index: 9675309;
	opacity: 0.4;
	color: #666;
	display: none;
	padding: 15px;
}

#top_link_l:hover, #top_link_r:hover {
	opacity: 0.9;
}

.breadcrumb_inner_link {
	font-size: 12px;
	color: #000000;
}

.noDimensionable {
    resize: none;
}

.bordeNegro {
	border: solid 2px #000;
	margin: 10px;
	padding: 10px;
}

.caratula {
	width: 21.59cm;
	height: 35.56cm;
}

.alineacion {
	width: 21.59cm;
	height: 0.1cm;
}

.encabezadoCaratula {
	width: 100%;
	height: 20%;
}

.letra {
	height: 4cm;
	text-align: left;
	float: left;
	width: 20%;
}

.personas {
	float: right;
	width: 70%;	
}

.encabezadoCaratula, .letra, .personas {
	font-size: 20px;	
}

.cuijCaratula {
	height: 8cm;
	text-align: left;
	float: left;
}

.anioCaratula, .codigo_barra_right {
	text-align: right;
	float: right;
	padding-right: 15px;
}

.cuijCaratula, .anioCaratula {
	height: 10%;
}

.cuijCaratula, .anioCaratula, .fechaCarpeta {
	padding-top: 30px;
	font-size: 15px;
}

.cuijCaratula, .fechaCarpeta, .padding-left15 {
	padding-left: 15px;
}

.caratulaCuerpo {
	height: 20%;
	margin-top: 30px;
}

.fechaCarpeta {
	height: 4%;
} 

.talon {
	width: 19cm;
	height: 4cm;
}

.cuerpoTalon {
			
}

@font-face { 
	font-family: "codigoBarraFont"; 
	src: url("../../font/39251.ttf") format("truetype");
} 
			
span.codigo_barra { 
	font-family: "codigoBarraFont";
	font-size: 0.5cm;  
	width: 5cm;
	height: 0.5cm;
}

/* Estilos para la Impresión de la Notificación de la Citación */

.linea-puntos {
	border-top: 1px dashed #000;
	padding: 0px;
	margin: 0px;
	margin-left: -60px;
	margin-right: -60px;
}

.notificacionCuerpo {
	margin-top: -80px;
}
.notificacionCuerpo .encabezado {
	padding-left: 80px;
}

.notificacionCuerpo p {
	line-height: 1.3em;	
}

.notificacionCuerpo .texto-blanco {
	color: #fff;
	visibility: hidden;
}

.notificacionCuerpo p {
	margin-bottom: 4px;
	margin-top: 4px;	
}

.notificacionCuerpo {
	font-family: Times New Roman, serif;
	font-size: 12pt;
}

.notificacionCuerpo .aclaracion {
	font-size: 8pt;
	line-height: 0.9em;
}

.notificacionCuerpo table, .anchoCompleto {
	width: 100%;
}

.pagina {
	margin: 25px 35px;
}

.subrayado {
	text-decoration: underline;
}

.negrita {
	font-weight: bolder;
}

.textoAutomatico {
	font-weight: bolder;
}

.textoAutomatico, .cursiva {
	font-style: italic;
}

.justificado {
	text-align: justify; 
}

.bordeNegroFino, .notificacionCuerpo td {
	border: 1px solid #000;
	padding: 15px;
}

.sangria {
	text-indent: 4em;
}

.sangriaCorta {
	text-indent: 1.5em;
}

td.sinpadding {
	padding: 0px;
}

p.sinmargin {
	margin: 0px;
}

.balanza-justicia, .nroExpediente {
	float: left;
}

.letra28 {
	font-size: 28pt;
}

.letra14 {
	font-size: 14pt;
}

.letra12 {
	font-size: 12pt;
}

.letra20 {
	font-size: 20pt;
}

.letra16 {
	font-size: 16pt;
}

.letra18 {
	font-size: 18pt;
}

.ui-datatable.normalwrap thead th, 
.ui-datatable.normalwrap tbody td,
.ui-datatable.normalwrap tfoot td{
	white-space: normal !important;
}

.normalwrap{
	white-space: normal !important;
}

@media all {
   div.saltopagina{
      display: none;
   }
}
   
@media print{
   div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }
}

.esconder-elementos-dt table thead tr {
    display: none;
}

.esconder-elementos-dt .ui-widget-content.ui-datatable-odd {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    background-color: white;
}

.esconder-elementos-dt .ui-widget-content.ui-datatable-even {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    background-color: white;
}

.eliminarMarcos table tr td {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    padding: 3px;
}

.bajarMargen {
	margin-top: 15px;
}

.eliminarMarcosEscr.ui-panelgrid tr,
.eliminarMarcosEscr.ui-panelgrid td {
    background: none;
    border-style: none !important;
}

.ui-priority-green,.ui-widget-content .ui-priority-green,.ui-widget-header .ui-priority-green {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5cb85c;
	*background-color: #5cb85c;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5cb85c),
		to(#419641));
	background-image: -webkit-linear-gradient(top, #5cb85c, #419641);
	background-image: -o-linear-gradient(top, #5cb85c, #419641);
	background-image: linear-gradient(to bottom, #5cb85c, #419641);
	background-image: -moz-linear-gradient(top, #5cb85c, #419641);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5cb85c',
		endColorstr='#419641', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.ui-priority-green:hover,.ui-priority-green:active,.ui-priority-green.active,.ui-priority-green.disabled,.ui-priority-green[disabled] {
	color: #ffffff;
	background-color: #419641;
	*background-color: #419641;
}

.saltopagina {
	page-break-after: always;
}

@media print {
  	.ocultarEnImpresion {
		display: none;
	}
}

.ui-column-dnd-bottom {
	display: none;
}

.ui-button-icon-left.ui-icon.ui-c.ui-icon-anular {
    background-image: url(/ogj/img/anular.png);
}

.ui-commandlink.ui-state-disabled {
	padding-left: 10px;
	margin-left: 10px;
}

.ui-button-icon-only-anular {
  width: 2.6em;
  height: 2.6em; 
}

.amplia-info:hover, .amplia-info {
	font-weight: bold;
	color: #43458B !important;
	text-decoration: none;
}

.ui-state-highlight.audiencia_cancelada,,.ui-state-highlight.notificacion_excluida {
	color: #FFA0A0 !important;
	font-weight: bold !important;
	font-style: italic;
}

.audiencia_cancelada,.notificacion_excluida {
	color: red !important;
	font-style: italic;
}

.notificacion_no_vigente {
	color: grey !important;
	font-style: italic;
}

.alerta_no_leida {
	color: #43458B !important;
	font-style:italic;
}
.white {
	color: #ffffff;
}

/**
  Estilos para la impresión de Caratula Segunda instancia
**/
.bordeNegroDoble {
	border: 10px double #000;
	margin: 20px;
	padding: 20px;
}

.height75 {
	height: 80%;	
}

.codigo_barra_height {
	height: 5%;
}

.caratula2daInstancia {
	width: 21.59cm;
	height: 30.00cm;
}

.plazosLegend .ui-fieldset-legend {
	margin-bottom: 0px !important;
}

.noPaddingTop {
	padding-top: 0px !important;
}

.letraAzul {
	color: #0000CD;
}

/* Estilos de Agenda Filtro Bean */
.estiloRecurso .fc-event-inner {
	background-image: linear-gradient(to bottom, #ff920a 0%, #995400 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}
.fc-event-skin.estiloRecurso {
	background-color: transparent;
	border-color: transparent; 
}

.estiloOtraSolicitud .fc-event-inner {
	background-image: linear-gradient(to bottom, #e73827 0%, #931b10 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}

.fc-event-skin.estiloOtraSolicitud {
	background-color: transparent;
	border-color: transparent; 
}

.estiloLicencia .fc-event-inner {
	background-image: linear-gradient(to bottom, #db36a4 0%, #772861 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}

.fc-event-skin.estiloLicencia {
	background-color: transparent;
	border-color: transparent; 
}

.estiloOtra .fc-event-inner {
	background-image: linear-gradient(to bottom, #9900ff 0%, #772861 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}

.fc-event-skin.estiloOtra {
	background-color: transparent;
	border-color: transparent; 
}

.estiloAudiencia .fc-event-inner {
	background-image: linear-gradient(to bottom, #71ceef 0%, #10657e 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}
.fc-event-skin.estiloAudiencia {
	background-color: transparent;
	border-color: transparent; 
}

.estiloRecursoEstudio .fc-event-inner {
	background-image: linear-gradient(to bottom, #1ac720 0%, #0f7513 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}
.fc-event-skin.estiloRecursoEstudio {
	background-color: transparent;
	border-color: transparent; 
}

.estiloInhabilitado .fc-event-inner {
	background-image: linear-gradient(to bottom, #030f07 0%, #10657e 100%);
	border-color: #999999;
	border-width: 1px;
	border-radius: 5px;
}
.fc-event-skin.estiloInhabilitado {
	background-color: transparent;
	border-color: transparent; 
}


/* Links */
a.link:link {
    text-decoration: none;
    color: #0000FF;
}

a.link:visited {
    text-decoration: none;
    color: #0000FF;
}

a.link:hover {
    text-decoration: underline;
    color: #0000FF;
}

a.link:active {
    text-decoration: underline;
    color: #0000FF;
}

/** generales */
span.grisada {
	color: #aaa;
}
.ui-state-highlight span.grisada {
	color: #d1d1d1;
}

.alerta_rojo {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    background: linear-gradient(#FF0000, #B00000);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    height: 20px; 
    width: 20px;
    margin-left: auto;
    margin-right: auto;
   
}
.alerta_amarillo {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    background: linear-gradient(yellow, gold);
    font-weight: bold;
	border-radius: 50%;
    height: 20px; 
    width: 20px;
    margin-left: auto;
    margin-right: auto;
   
}
.alerta_naranja {
    border: 0px;
    border-style: hidden;
    border-width: 0px;
    background: linear-gradient(orange, #CC7A00);
  	font-weight: bold;
  	border-radius: 50%;
    height: 20px; 
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.msg_alerta_rojo {
	background-color: #eddbe3; 
	border-color: #e8d1df; 
	color: #bd4247;
	font-size: 1.1em;
	font-weight: bold;	
}

.esconderBordesGrillaAgenda td {
     border-style: hidden !important;
}

.ui-commandlink.ui-widget.ui-state-disabled.btn.btn-xs.btn-default {
	font-size: 1em !important; 
	cursor: pointer !important;
	opacity: 1; 
	background-color: #bbbbbb !important;
	background-image: none !important;
	border-color: #bbbbbb !important;
}

.texto_imputado_vencido {
	background-color: #ff6666;	
}

.ui-priority-strawberry,.ui-widget-content .ui-priority-strawberry,.ui-widget-header .ui-priority-strawberry {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #CD5555;
	*background-color: #CD5555;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CD5555),
		to(#BE2625));
	background-image: -webkit-linear-gradient(top, #CD5555, #BE2625);
	background-image: -o-linear-gradient(top, #CD5555, #BE2625);
	background-image: linear-gradient(to bottom, #CD5555, #BE2625);
	background-image: -moz-linear-gradient(top, #CD5555, #BE2625);
	background-repeat: repeat-x;
	border-color: #CC3232;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#CD5555',
		endColorstr='#BE2625', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.ui-priority-strawberry:hover,.ui-priority-strawberry:active,.ui-priority-strawberry.active,.ui-priority-strawberry.disabled,.ui-priority-strawberry[disabled] {
	color: #ffffff;
	background-color: #BE2625;
	*background-color: #BE2625;
}


.ui-priority-darkorchid3,.ui-widget-content .ui-priority-darkorchid3,.ui-widget-header .ui-priority-darkorchid3 {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #BA55D3;
	*background-color: #BA55D3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BA55D3),
		to(#9A32CD));
	background-image: -webkit-linear-gradient(top, #BA55D3, #9A32CD);
	background-image: -o-linear-gradient(top, #BA55D3, #9A32CD);
	background-image: linear-gradient(to bottom, #BA55D3, #9A32CD);
	background-image: -moz-linear-gradient(top, #BA55D3, #9A32CD);
	background-repeat: repeat-x;
	border-color: #AA00FF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#BA55D3',
		endColorstr='#9A32CD', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.ui-priority-darkorchid3:hover,.ui-priority-darkorchid3:active,.ui-priority-darkorchid3.active,.ui-priority-darkorchid3.disabled,.ui-priority-darkorchid3[disabled] {
	color: #ffffff;
	background-color: #9A32CD;
	*background-color: #9A32CD;
}


/* Colores para las grillas */
.resaltado_rojo {
	color: red !important;
	font-style: italic;
}

.resaltado_naranja {
	color: orange !important;
	font-style: italic;
}

.resaltado_gris {
	color: #aaa !important;
	font-style: italic;
}

.fondo_gris {
	background-color: #D3D3D3 !important;
}

.resaltado_rojo_fondo_gris {
	color: red !important;
	font-style: italic;
	background-color: #D3D3D3 !important;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	z-index: 800;
}

/**********************************************
*******  compoponente de log en el cliente ****
***********************************************/

#log {
	display:none;
	bottom: 4%;
	top: inherit;
	left: 2%;
}
				
.loggerButton {
	background-color: transparent;
	border-style: none;
	position:relative;
}

/**********************************************
*******  compoponente de log en el cliente ****
***********************************************/

#log {
	display:none;
	bottom: 4%;
	top: inherit;
	left: 2%;
}
				
.loggerButton {
	background-color: transparent;
	border-style: none;
	position:relative;
}

